* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image-category {
  width: 350px;
  height: 350px;
  margin: 1rem;
  box-shadow: 0 0 5px black;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* .image-category img {
    filter: grayscale(100%);
    transition: all 0.3s;
} */

.shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.image-category:hover .shadow {
  height: 0;
}
/* .image-category:hover img{
    filter: grayscale(0%);
} */

.image-category .cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: rgb(0, 89, 126);
  color: white;
  text-align: center;
  border-radius: 80px 80px 20px 20px;
  transition: all 0.3s;
}

.image-category:hover .cover {
  height: 10%;
}

.image-category .cover p {
  font-size: 20px;
  font-weight: 600;
}

.image-category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.images .images-container {
  width: 350px;
  height: 350px;
  margin: 10px;
  box-shadow: 0 0 5px black;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px;
  position: relative;
}

.images .images-container:hover {
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.images-container img{
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.images-container:hover img{
  background-color: black;
}

.images .images-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imageName {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  background-color: rgba(174, 255, 0, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
  color: black;
}

.image-name{
  text-align: center;
  background-color: rgba(174, 255, 0, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
  color: black;
  margin-top: 1rem;
}

.full-image {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.full-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.back-button {
  position: fixed;
  top: 15px;
  left: 20px;
  border-radius: 100%;
  background-color: rgb(0, 89, 126);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 10;
}

.active-button,
.deactive-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
}

.active-button:hover,
.deactive-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left-button {
  left: -10px;
}

.right-button {
  right: -10px;
}

.deactive-button {
  background-color: rgba(0, 0, 0, 0.182);
}

.deactive-button:hover {
  background-color: rgba(0, 0, 0, 0.182);
  color: red;
}

.feedback {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex: 3;
}

.form span{
  color: red;
  animation: missing 1s ease infinite;
}

.more-details{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.more-details h3{
  font-size: 25px;
  font-weight: 700;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.more-details p{
  font-size: 22px;
  font-weight: 600;
  align-self: flex-start;
}

@keyframes missing {
  0%{
    opacity: 0.4;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.4;
  }
}


@media screen and (max-width: 920px ) {
    .feedback{
        flex-direction: column;
        align-items: center;
    }
}